workflow.json
{
  "name": "Customer Support Brain",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -540,
        -20
      ],
      "id": "23839323-8cd4-4f5b-8346-b253b247de0e",
      "name": "When chat message received",
      "webhookId": "YOUR_WEBHOOK_ID_HERE"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Chat Input\nconst input = $json;\nconst sessionId = input.sessionId || input.session_id || input.session || null;\nlet message = input.chatInput || input.message || input.text || \"\";\nmessage = (typeof message === \"string\") ? message.trim() : \"\";\nconst timestamp = new Date().toISOString();\nconst emailMatch = message.match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\nconst extractedEmail = emailMatch ? emailMatch[0] : null;\nconst out = { sessionId, message, timestamp, extractedEmail, originalPayload: input };\nif (!message) { out.noMessage = true; }\nreturn [{ json: out }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        -20
      ],
      "id": "e86f1b3d-3937-44c7-beab-39d24eeda5ea",
      "name": "Normalize Chat Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=You are a classifier. Analyze user message for:\n1. Product (Bullet, Focuzed, BunnyDesk)\n2. Intent (setup, bug, how_to, pricing, etc)\n3. Confidence Score\n\nReturn JSON ONLY."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -200,
        -20
      ],
      "id": "1ab48dbb-e0d3-4c90-97f6-7a63453801b1",
      "name": "Router – Product & Intent Detector"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        200
      ],
      "id": "fda30057-9636-40a7-9d2c-928a360d5c0e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        200
      ],
      "id": "4c3b8f97-a3e3-44da-a38f-3d0d00676cd3",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output || $json[0] || $json;\nif (typeof raw === 'object') { return [{ json: raw }]; }\nlet parsed;\ntry { parsed = JSON.parse(raw); } catch (e) { parsed = { product: \"Unknown\", intent: \"other\", confidence: 0, error: \"JSON parsing failed\", rawOutput: raw }; }\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -20
      ],
      "id": "4a410477-b395-48d8-922d-8023826d1b83",
      "name": "Parse Router Output"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        160
      ],
      "id": "3e8ee1cb-2256-4f92-bdd8-3057d11232fa",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        700,
        180
      ],
      "id": "ff3b26f4-fb12-4350-a277-51fa1b9f629e",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n{{ $node[\"Normalize Chat Input\"].json[\"message\"] }}\n",
        "options": {
          "systemMessage": "=You are the primary customer support agent for Bullet, Focuzed, and BunnyDesk.\nDetected product: {{ $node[\"Parse Router Output\"].json[\"product\"] }}\nDetected intent: {{ $node[\"Parse Router Output\"].json[\"intent\"] }}\n\nReturn ONLY JSON: { \"reply\": \"...\", \"needsEscalation\": boolean }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        460,
        -60
      ],
      "id": "67ae8088-ddc9-433e-98dd-6ed2b8475a16",
      "name": "Product Support Agent"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "message",
                "value": "={{ $json.reply.trim() }}"
              }
            ]
          },
          "responseKey": "=message\n"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1080,
        -40
      ],
      "id": "4810219d-735b-4dff-bf4d-6fa9b2097b42",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "return [\n  JSON.parse($json[\"output\"])\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        -60
      ],
      "id": "a3099d9f-e26b-43ca-88f7-32ba62b993d9",
      "name": "JSON Parse"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Chat Input": {
      "main": [
        [
          {
            "node": "Router – Product & Intent Detector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Router – Product & Intent Detector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Router – Product & Intent Detector",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Router – Product & Intent Detector": {
      "main": [
        [
          {
            "node": "Parse Router Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Router Output": {
      "main": [
        [
          {
            "node": "Product Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Product Support Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Product Support Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Product Support Agent": {
      "main": [
        [
          {
            "node": "JSON Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parse": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
